<main>
    <section class="form-section">
        <img src="assets/imgs/logoRetangularRemovedBG.png" alt="Logo">
        <h1>{{title}}</h1>

        <div class="formulario">
            <ng-content></ng-content>
        </div>

        <div class="btn-wrapper">
            <button class="primeiro-btn">{{primeiroBotao}}</button>
            <div class="divider">
                <div></div>
                <span>ou</span>
                <div></div>
            </div>
            <button class="segundo-btn">{{segundoBotao}}</button>
        </div>
    </section>
    <section class="main-section">

    </section>
</main>