@import "../../../styles/variables.scss";

main {
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: $bg-sombra;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .main-section {
        flex-grow: 1;
        background-image: url("../../../../public/imgs/alunosPB.jpeg");
        background-position: center;
        background-size: cover;
        color: $primary-color;
    }

    .form-section {
        flex-grow: 0.3;
        padding: 0 35px;
        

        .formulario{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5% 0;
        }

        img {
            filter: drop-shadow(0 0 10px $secondary-color);
            width: 25vw;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 20px;
            font-weight: bold;
        }

        .btn-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 10px 0;

            button {
                width: 80%;
                font-size: 16px;
                font-weight: 500;
                border-radius: 8px;
                padding: 12px 24px;
                background-color: transparent;
                cursor: pointer;
                &.primeiro-btn {
                    border: 1px solid $secondary-color;
                    background-color: $primary-color;
                    color: $secondary-color;
                    filter: drop-shadow(0 0 10px $secondary-color);
                }

                &.segundo-btn {
                    border: 1px solid $primary-color;
                    color: $primary-color;
                }

            }

            .divider {
                display: flex;
                width: 30%;
                font-size: 14px;
                color: $bg-sombra-claro;
                font-weight: 400;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                gap: 20px;
                div {
                    min-width: 100%;
                    flex-grow: 1;
                    height: 1px;
                    background-color: $bg-sombra-claro
                }
            }
        }

    }
}