<app-default-login-layout 
title="Faça login na sua conta!" 
primeiroBotao="Login" 
segundoBotao="Cadastre-se"
(submit)="submit()" 
(navigate)="navigate()"
>

    <form [formGroup]="loginForm">
        <app-primeiro-input [formGroup]="loginForm" [formControlName]="'email'" [inputName]="'email'" [type]="'email'"
            [label]="'Digite seu e-mail'" [placeholder]="'E-mail'">
            <img src="/assets/svg/email-svgrepo-com.svg" height="20px" />
        </app-primeiro-input>

        <app-primeiro-input [formGroup]="loginForm" [formControlName]="'senha'" [inputName]="'senha'"
            [type]="'password'" [label]="'Digite sua senha'" [placeholder]="'**********'">
            <img src="/assets/svg/padlock-svgrepo-com.svg" height="20px" />
        </app-primeiro-input>
        
        <span (click)="esqueciSenha()">Esqueceu a senha?</span>
    </form>

</app-default-login-layout>